

header{
   
    width: 100%;
    background-color: rgb(31,147,220);
    margin-bottom: 15px;
   
   
}

.pc{
    display: grid ;

    grid-template-rows: 1fr auto;
    justify-items: center; 
    
}

nav{
    display: inline-flex;
    justify-content: space-around;
    width: 80%;
    margin: 10px 0 ;
}

h1{  
    font-family: "Jaini Purva", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 100px;
    margin: 0;
    
   
}

button {  
    border-radius: 15px;
    text-decoration: none;
    padding: 0 15px;
    color: rgb(105,218,248) !important;
    font-family: "Jockey One", serif;
    font-size: 26px;
   
}


button:hover{
    background-color: white ;
}

.menu-bouton{
    height: 40px;
    width: 60px;
    
}
.menu-bouton img{
   
    height: 30px;
    width:30px;

}

.mobile-title{
    font-size: 60px;
    font-family: "Jaini Purva", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 2em;
}

.mobile{
 

    background-color: rgb(31,147,220);
}
mat-toolbar {
    
    background-color: rgb(31,147,220);
   
  }
  
  mat-sidenav-container {
  
    height: 10px;
    z-index: 2;
    background-color: rgb(31,147,220);
 
  }
  
  mat-sidenav {
    width: 300px;
  }
  
  .content {
    padding: 20px;
  }

  @media (min-width:769px){
    .mobile{
        display: none;
    }
  }

@media screen and  (max-width: 768px){

.pc{
    display: none;
}
h1{ 
    padding: 0;
    font-size: 4em;
}


header{
    
    background-color: rgb(31,147,220); 
    width: 100%;
}

    
}