footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(31,147,220);
    margin-top: 10px;
}

img{
    height: 70px;
}


@media screen and  (max-width: 768px){
    img{
        height: 45px;
    }
    
    footer{
        justify-content: space-around;
    }
}
 