.contenair{
   
    height: 100%;
     display: grid;
     align-items: center;
    justify-items: center;
     grid-template-columns: 2fr 1fr ;
     margin: 20px 0 40px;
    
 }
 
 img{
     border-radius: 30px;
     height: 400px;
     box-shadow: 10px 15px 5px rgb(143, 142, 142);
     
 }
 
 .presentation{
   
     background-color: rgb(31,147,220);
     box-shadow: 10px 15px 5px rgb(143, 142, 142);
     margin-left: 5px;
     padding: 30px 20px;
     border-radius: 35px;
     
 }
 
 .presentation p{
   
     text-align: center;
     font-size: 25px;
 }
 
 .presentation h2{
     text-align: center;
     font-size: 50px;
 }

 @media screen and  (max-width: 768px){
   .logo{
        display: none;
        
 }
 .contenair{
  
    display: flex;
    justify-items: center;
    width: 90%;
    margin: 0 0 0 15px;
 }

 .presentation p{
   
    text-align: center;
    font-size: 1em;
}

.presentation h2{
    text-align: center;
    font-size: 2em;
}

}