<div class="contenair-quizz">
  <h2 class="titregd">Teste tes connaissances</h2>
  <mat-card
    class="quizz"
    *ngIf="result === null"
    [@slideOut]="animationState"
   
  >
    <mat-card-header class="boxtitle">
      <mat-card-title>
        <h3 class="title">Question {{ i + 1 }}</h3>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content class="question">
      <h4 class="questions">{{ quizzs[i].question }}</h4>

      <mat-card-actions class="reponse">
        <button
          class="choicebutton"
          mat-raised-button
          *ngFor="let resultat of quizzs[i].choix; let j = index"
          (click)="choisirReponse(j)"
          [ngClass]="{ choisi: j === selectedIndex }"
        >
          {{ resultat.reponse }}
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
  <mat-card-actions class="result" *ngIf="result === null">
    <button
      class="validebut"
      mat-raised-button
      *ngIf="i === quizzs.length - 1 && this.reponsesUtilisateur.length !== i"
      (click)="calculResultat()"
    >
      donne ton resultat
    </button>
  </mat-card-actions>
  <mat-card class="boutonssuipre" *ngIf="result === null">
    <mat-card-actions class="boutonvalid">
      <button
        class="validebut"
        mat-raised-button
        [disabled]="i < 1"
        (click)="previous()"
      >
        Précédent
      </button>
      <button
        class="validebut"
        mat-raised-button
        [disabled]="
          i === quizzs.length - 1 || reponsesUtilisateur.length < i + 1
        "
        (click)="next()"
      >
        Suivant
      </button>
    </mat-card-actions>
  </mat-card>

 

  <mat-card *ngIf="result !== null" class="gdresultat">
    <mat-card-content class="resultat">
      <h2 class="resulttext">
        Le résultat est {{ result }}/{{ quizzs.length }}
      </h2>
      <ng-container *ngIf="result === quizzs.length; else otherResults">
        <img src="assets/logo top.png" alt="Fête réussite" />
      </ng-container>
  
      <ng-template #otherResults>
        <img
          [src]="result === 0 ? 'assets/logo nul.png' : 'assets/logo moyen.png'"
          [alt]="result === 0 ? 'Peut mieux faire' : 'Score moyen'"
        />
      </ng-template>



    </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button type="button" (click)="reset()">
          Tu veux essayer de nouveaux?
        </button>
      </mat-card-actions>

    
    
  </mat-card>
</div>
